*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }
  
  #hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgb(107, 146, 167)),url(images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  .logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 2%;
  }
  
  .navbar-center{
    display: flex;
    align-items: center;
    margin-left: 400px;
  }
  
  .navbar-center ul li{
    display: inline-block;
  }
  
  .navbar-center ul li a{
    display:  flex;
    align-items: center;
    font-size: 20px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
  }
  
  .navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #e1d8d8;
    position: absolute;
    bottom: -1px;
    transition: width 0.4s;
  }
  
  .navbar-center ul li a:hover::after{
    width: 100%;
  }
  
  .navbar-left{
    display: flex;
    align-items: center;
  }
  
  .menu-btn img{
    width: 0px;
    height: 0px;
  }
  
  .banner-text{
    text-align: center;
    color: white;
    padding-top: 180px;
  }
  
  .banner-text h1 a{
    font-size: 80px;
    color: white;
  }
  
  .banner-text p{
    font-size: 20px;
    font-family: c;
    font-style: italic;
  }
  
  .banner-btn{
    margin: 70px auto 0;
  }
  
  .banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid white;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
  }
  
  .banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
  }
  
  .banner-btn a:hover span{
    width: 100%;
  }
  
  .banner-btn a:hover{
    color: black;
  }
  
  /* --------------Features-------------- */
  
  #features{
    width: 100%;
    padding: 70px 0;
  }
  
  .title-text{
    text-align: center;
    padding-bottom: 70px;
  }
  
  .title-text p{
    margin: auto;
    font-size: 20px;
    color: rgb(93, 148, 148);
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
  }
  
  
  .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  
  .title-text h1{
    font-size: 50px;
  }
  
  .feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  
  .features{
    flex-basis: 50%;
  }
  
  .features-img{
    flex-basis: 50%;
    margin: auto;
  }
  
  .features-img img{
    width: 70%;
    border-radius: 10px;
  }
  
  .features h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color: #8bddd4;
  }
  
  .features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .features-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #8bddd4;
    border: 1px solid #8bddd4;
  }
  
  .features-text{
    padding: 0 20px;
    text-align: initial;
  }
  
  /* -------------service------------- */
  
  #services{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
  }
  
  .service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  
  .single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
  }
  
  .single-service img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  
  
  
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #a4bab7);
    opacity: 0;
    transition: 1s;
  }
  
  .single-service:hover .overlay{
    opacity: 1;
  }
  
  .service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
  }
  
  .single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
  }
  
  hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
  }
  
  .service-desc p{
    font-size: 14px;
  }
  
  
  /* -------------testimonials----------- */
  
  #testimonials{
    width: 100%;
    padding: 70px 0;
  }
  
  .testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #8bddd414;
    cursor: pointer;
    transition: transform .5s;
  }
  
  .testimonial-col p{
    font-size: 14px;
  }
  
  .user{
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
  }
  
  .user-info .fa{
    margin-left: 10px;
    color: #019578;
    font-size: 20px;
  }
  
  .user-info small{
    color: #019578;
  }
  
  .testimonial-col:hover{
    transform: translateY(-7px);
  }
  
  /* -----------------footer---------- */
  
  #footer{
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
  }
  
  .footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-left, .footer-right{
    flex-basis: 35%;
    padding: 10px;
    margin: 20px;
  }
  
  .footer-right{
    text-align: right;
  }
  
  .footer-row h1{
    margin: 10px 0;
  
  }
  
  .footer-row p{
    line-height: 35px;
  }
  
  .footer-left .fa, .footer-right .fa{
    font-size: 20px;
    color: #019578;
  }
  
  .footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
  }
  
  .social-links{
    text-align: center;
  }
  
  .social-links .fa{
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #019578;
    margin: 40px 5px 0;
    color: #019578;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .social-links .fa:hover{
    background: #019578;
    color: #fff;
    transform: translateY(-7px);
  }
  
  .social-links p{
    font-size: 12px;
    margin-top: 20px;
  }
  
  
  /* -------------media query---------- */
  
  @media screen and (max-width: 1100px){
    .navbar-center{
      display: flex;
      align-items: first baseline;
      width: 250px;
      height: 100vh;
      position: fixed;
      right: -250px;
      top: 0;
      background: #8bddd4;
      z-index: 2;
      transition: 0.5s;
    }
  
    .navbar-center ul{
      margin-top: 50px;
    }
  
    .navbar-center ul li{
      list-style: none;
      margin: 15px ;
    }
  
    .navbar-center ul li a{
      text-decoration: none;
      color: #fff;
    }
  
    .menu-btn{
      width: 50px;
      height: 50px;
      background: #8bddd4;
      text-align: center;
      position: fixed;
      right: 30px;
      top: 20px;
      border-radius: 3px;
      z-index: 3;
      cursor: pointer;
    }
  
    .menu-btn img{
      width: 20px;
      height: 20px;
      margin-top: 15px;
    }
  }
  
  @media screen and (max-width: 770px){
    .banner-text h1 a{
      font-size: 40px;
    }
  
    .banner-btn a{
      display: block;
      margin: 10px auto 0;
    }
  
    .navbar-center{
      display: flex;
      align-items: first baseline;
      width: 250px;
      height: 100vh;
      position: fixed;
      right: -250px;
      top: 0;
      background: #8bddd4;
      z-index: 2;
      transition: 0.5s;
    }
  
    .navbar-center ul{
      margin-top: 50px;
    }
  
    .navbar-center ul li{
      list-style: none;
      margin: 15px ;
    }
  
    .navbar-center ul li a{
      text-decoration: none;
      color: #fff;
    }
  
    .menu-btn{
      width: 50px;
      height: 50px;
      background: #8bddd4;
      text-align: center;
      position: fixed;
      right: 30px;
      top: 20px;
      border-radius: 3px;
      z-index: 3;
      cursor: pointer;
    }
  
    .menu-btn img{
      width: 20px;
      height: 20px;
      margin-top: 15px;
    }
  
    .title-text h1{
      font-size: 35px;
    }
  
    .features{
      flex-basis: 100%;
    }
  
    .features-img{
      flex-basis: 100%;
    }
  
    .features-img img{
      width: 100%;
    }
  
    .single-service{
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  
    .service-desc p{
      font-size: 12px;
    }
  
    hr{
      margin: 5px auto;
    }
  
    .single-service:hover .service-desc{
      bottom: 25% !important;
    }
  
    /* -----------testimonial---------- */
  
    .testimonial-col{
      flex-basis: 100%;
    }
  
    /* --------------.footer-------------- */
  
    .footer-left, .footer-right{
      flex-basis: 100%;
      font-size: 14px;
      text-align: center;
    }
  
    .footer-img{
      top: 25%;
    }
  
  }


  /* ----------------signup---------------- */

  .signup-container{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: absolute;
    margin-top: 120px;
    margin-left: 500px;
}

h2{
    margin-bottom: 20px;
    color: rgb(93, 148, 148);
}

input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid rgb(93, 148, 148);
    border-radius: 5px;
    font-size: 16px;
}

.signup-btn{
    background-color: #019578;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.3s ease;
}

.signup-btn:hover{
    background-color: #017b63;
}

@media screen and (max-width: 768px){
    .signup-container{
        padding: 30px 20px;
    }

    input{
        font-size: 14px;
    }

    h2{
        font-size: 24px;
    }
}

.login-container{
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin-top: 120px;
  margin-left: 500px;
}

h2{
  margin-bottom: 20px;
  color: rgb(93, 148, 148);
}

input{
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid rgb(93, 148, 148);
  border-radius: 5px;
  font-size: 16px;
}

.login-btn, .signup-btn{
  background-color: #019578;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.login-btn:hover, .signup-btn:hover{
  background-color: #017b63;
}

.forgot-pass{
  margin-top: 15px;
  display: block;
  color: rgb(93, 148, 148);
  text-decoration: none;
  font-size: 14px;
}

.forgot-pass:hover{
  text-decoration: underline;
}

@media screen and (max-width: 768px){
  .login-container{
      padding: 30px 20px;
  }

  input{
      font-size: 14px;
  }

  h2{
      font-size: 24px;
  }
}